body {
  background-color: #b19cd9; /* Dark purple */
  color: #ffffff; /* White text for contrast */
}

.centerText {
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: contain; /* Ensures image fills the container while maintaining aspect ratio */
}

.container {
  background-color: #570987;
  width: 100%;
}

.card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  background-color: #51265d; /* A slightly darker purple for the header */
  color: #fff;
  font-weight: bold;
}

.card-body {
  background-color: #dcd6f7; /* Light lavender for contrast */
  color: #333;
}
